<h2>Product List</h2>
<ul>
    <li *ngFor="let product of products | slice:0:2; let i=index" (click)="selectedProduct = product">
       {{i+1}} - {{product | json}}<br>
    {{ product.price | currency: 'PLN'}}</li>
</ul>
<br>
<app-product-detail *ngIf="selectedProduct; else noProduct" [product]="selectedProduct" (bought)="onBuy($event)">
</app-product-detail>


<ng-template #noProduct>
    <p>Nie wybrano produktu</p>
    <p>Dzisiejsza data: {{ today | date: 'fullDate'}}</p>
</ng-template>

<!-- <h5>{{product.name}}</h5> -->