<div *ngIf="product$ | async as product">
<h2>Product Details</h2>
<h3>{{ product.name }}</h3>
<span>{{product.price}}</span><br>
<input placeholder="Nowa cena" #price/>
<button (click)="changePrice(product,price.valueAsNumber)">Zmień cene</button>
<!-- <div [ngSwitch]="product?.name">
<p *ngSwitchCase="'Webcam'">
    Produkt klasy premium
</p>
<p *ngSwitchCase="'Keyboard'">
    Świetna klawiatura
</p>
<p *ngSwitchDefault>Inny produkt...</p>
</div> -->
<p><button (click)="buy()">Kup teraz</button></p>
<!-- <p><button *ngIf="authService.isLoggedIn" (click)="buy()">Kup teraz</button></p> -->
</div>